# Установить окончания строк для всех текстовых файлов
* text=auto

# Установить окончания строк для файлов Go
*.go text eol=lf

# Установить окончания строк для файла .gitignore
.gitignore text eol=lf
