# Бинарные файлы
*.exe
*.exe.manifest

# Логи
logs/*.txt

# Директории сборки
bin/
build/

# Кэш модулей Go
!go.sum
!go.mod

# Директории и файлы IDE
.vscode/
.idea/
*.iml

# Системные файлы
.DS_Store
Thumbs.db
server.crt
server.key

.aider.input.history
.aider.chat.history.md
.aider.tags.cache.v3/
.cursorignore
.env
install/
!install/CloudPosBridge_setup.iss
vendor/

# JSON задания
jsons/works/*.json
jsons/works/connection.txt
jsons/works/printed.txt


