# Бинарные файлы
*.exe
*.exe.manifest
tests/screenshots/
.gigaide/
_temp_update/

!myapp_dist/
!myapp_dist/*.exe

# Логи
logs/*.txt
backup/

# Директории сборки
bin/
build/
install/
logs/
settings/
!install/CloudPosBridge_setup.iss
myapp_dist/
Output/

# Кэш модулей Go
#go.sum
#go.mod

# Директории и файлы IDE
.vscode/
.idea/
*.iml

# Системные файлы
.DS_Store
Thumbs.db
.aider*
.cursorignore
.env

server.crt
server.key
.qodo
allfiles.txt
zap.txt
myapp_dist.7z
/scanner-example-code