# Бинарные файлы
*.exe
*.exe.manifest

# Логи
logs/*.txt

# Директории сборки
bin/
build/
install/
!install/CloudPosBridge_setup.iss

# Кэш модулей Go
#go.sum
#go.mod

# Директории и файлы IDE
.vscode/
.idea/
*.iml

# Системные файлы
.DS_Store
Thumbs.db
.aider*
.cursorignore
.env

vendor/